<?xml version="1.0" encoding="UTF-8"?>
<service>
  <type>mixcloud-scope</type>
  <name>Mixcloud</name>
  <icon>mixcloud</icon>
  <provider>com.ubuntu.developer.boghison.mixcloud_mixcloudaccount</provider>

</service>
